<%= form_for(@project) do |f| %>
  <% @project.errors.full_messages.each do |err| %>
    <%= err %>
  <% end %>
  <p>
    <%= f.label :name  %>
    <%= f.text_field :name %>
  </p>
  <%= f.submit %>
<% end %>

