<% @title = "TextMate 2 - Projects - Ticketee" %>

<% unless @project.valid? %>
  <% @project.errors.full_messages.each do |err| %>
    <%= err %>
  <% end %>
<% end %>

<h2><%= @project.name %></h2>

<%= link_to 'Edit Project', edit_project_path(@project) %>
<%= link_to 'Delete Project', project_path(@project), :method => :delete, :confirm => "Are you sure want to destroy project '#{@project.name} 'permanently" %>

<%= link_to 'New Ticket', new_project_ticket_path(@project) %>
